h1, h3, ul{
  text-align: center;
}

body {
  color: whitesmoke;
  background-color: black;
}

section {
  background-color: lightgray;
  width: 80%;
  margin: auto;
  border: 5px solid red;
  padding: 10px;
}

#container {
  width: max-content;
}

img {
  width: 300px;
  height: 300px;
  margin-left: 15px;
}

img:hover {
  opacity: 50%;
}

div {
  text-align: center;
  width: 300px;
  font-size: 2em;
  margin: 25px auto 25px auto;
  color: black;
  background-color: lightgray;

}
div:hover{
  background-color: lightgray;
  cursor: pointer;
}

ul {
  text-align: center;
}

#chart{
  width: 900px;
  height: 600px;

}